/*--------------------------------------------------------------
# GOOGEL FONTS
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/*--------------------------------------------------------------
# CSS VARIABLES
--------------------------------------------------------------*/
:root {
  --slide-1-bg: #5b9ab0;
  --slide-2-bg: #785d8a;
  --slide-3-bg: #5465b3;
  --slide-4-bg: #13acaf;


  --slide-1-link: #285163;
  --slide-2-link: #332330;
  --slide-3-link: #839642;
  --slide-4-link: #805827;
}

/*--------------------------------------------------------------
# RESET
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# BODY
--------------------------------------------------------------*/

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  color: #fff;
}

/*--------------------------------------------------------------
# SLIDER
--------------------------------------------------------------*/

.slider {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}

/*--------------------------------------------------------------
# SLIDE 
--------------------------------------------------------------*/

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s cubic-bezier(.85, 0, .15, 1);
}

.slide img {
  max-height: 100vh;
}

#slide-1 {
  background-color: var(--slide-1-bg);
  left: 0;
}

#slide-2 {
  background-color: var(--slide-2-bg);
  left: 100%;
}

#slide-3 {
  background-color: var(--slide-3-bg);
  left: 200%;
}

#slide-4 {
  background-color: var(--slide-4-bg);
  left: 300%;
}

#slide-radio-1:checked~.slide {
  transform: translate3d(0, 0, 0);
}

#slide-radio-2:checked~.slide {
  transform: translate3d(-100%, 0, 0);
}

#slide-radio-3:checked~.slide {
  transform: translate3d(-200%, 0, 0);
}

#slide-radio-4:checked~.slide {
  transform: translate3d(-300%, 0, 0);
}

/*--------------------------------------------------------------
# PAGINATION
--------------------------------------------------------------*/

.pagination {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: 2;
}